.cellTable {
  
}

.firstColumn {
  
}

.footer {
  border-top: 2px solid #6f7277;
  padding: 3px 15px;
  text-align: left;
  color: #4b4a4a;
}

.header {
  border-bottom: 2px solid #6f7277;
  padding: 3px 15px;
  text-align: left;
  color: #4b4a4a;
}

.cell {
  padding: 4px 15px;
}

.firstColumnFooter {
  border-left: 0px;
}

.firstColumnHeader {
  border-left: 0px;
}

.evenRow {
  background-color: #ffffff;
}

.oddRow {
  background-color: #f3f7fb;
}

.hoveredRow {
  background-color: #88b0f2;
}

@sprite .selectedRow {
  gwt-image: 'cellTableSelectedBackground';
  background-color: #628cd5;
  color: white;
  height: auto;
  overflow: auto;
}